a{
    display: inline;
    position: relative;
    bottom:33px;
    left: 1000px;
    padding-right: 10px;
}

.paragraph {
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
    width: 700px;
    padding: 40px;
    display: block;
    border: 8px solid white;
    position: relative;
    left: 1000px;
    top: 100px;
}